#!/bin/bash
cd /srv/postcodeinfo

# Manage sync db
chpst -uwww-data python manage.py migrate --noinput >> /var/log/gunicorn/migrate.log 2>&1
chpst -uwww-data python manage.py collectstatic --noinput >> /var/log/gunicorn/collectstatic.log 2>&1

exec chpst -uwww-data /usr/local/bin/gunicorn -b unix:/tmp/gunicorn.sock -w4 postcodeinfo.wsgi:application --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log --reload
