#!/bin/bash
cd /srv/postcodeinfo
# Manage sync db
python manage.py migrate --noinput >> /var/log/wsgi/db.scripts.log 2>&1
python manage.py collectstatic --noinput >> /var/log/wsgi/db_scripts.log 2>&1

exec /usr/local/bin/gunicorn -b unix:/tmp/gunicorn.sock -w4 postcodeinfo.wsgi:application --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log --reload
