#!/bin/bash
cd /srv/postcodeinfo
# Manage sync db
python manage.py migrate --noinput >> /var/log/wsgi/db_scripts.log 2>&1
python manage.py collectstatic --noinput >> /var/log/wsgi/db_scripts.log 2>&1

exec /usr/local/bin/uwsgi --ini /etc/wsgi/conf.d/postcodeinfo.ini
